*.pyc
__pycache__
pyvenv.txt
*.cfg
Sublime Settings
*.json
*.ipynb
Scraps.txt
*.xlsx
*.cache
.cache-1221978947
tests/fixtures/cassettes/ArtistID Cassete.json
tests/fixtures/cassettes/Concert Cassete.json
