*.pyc
__pycache__
pyvenv.txt
*.cfg
*.json
*.ipynb
*.xlsx
*.cache*
.cache-1221978947
tests/fixtures
tests/Jupyter Notebooks
*.log
*.yml
*.db
.env
.pytest_cache
venv
migrations
.*
.vscode/
.vscode/settings.json
